body {
    background-image: url(https://img.freepik.com/premium-vector/isolated-neon-sign-quiz-frame_269299-686.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 350px;
    background-color: rgba(175, 207, 218, 0.3);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#repbouton {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

    align-items: center;
    height: 180px;
}

#n1, #n2, #n3, #n4{
    height: 50px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: rgba(11, 11, 11, 0.732);
}

#control {
    display: flex;
    justify-content: center;
}

#retour, #score{
    height: 55px;
    width: 200px;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background-color: rgba(11, 11, 11, 0.732);
    font-size: 23px;
    font-weight: bold;
    margin: 15px 30px;  
}

